/* SLIDER_BUTTON */
.slider__control-list {
	display: flex;
}

.slider__btn {
	position: absolute;
	bottom: 40px;
	right: 39px;

	padding: 0;
	width: 60px;
	height: 24px;

	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
	font-size: 11px;
	line-height: 1.36;
	text-align: right;
	letter-spacing: 0.1em;
	color: var(--white-color);
	border: none;
	border-bottom: 1px solid var(--third-color);
	border-radius: none;

	&--disable {
		color: var(--secondary-bg-color);
		border-color: var(--secondary-bg-color);
	}

	&--back {
		text-align: left;
		right: 65px;
		transform: translateX(-100%);
	}
}
