/* BUTTON */
.button {
	padding: 12px 20px;
	max-width: 200px;
	min-width: 160px;
	min-height: 40px;

	font-family: inherit;
	color: currentColor;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	background-color: transparent;
	cursor: pointer;
	border: 1px solid var(--brand-color);
	border-radius: 25px;

	transition: background-color 250ms ease-in;

	&:hover,
	&:focus {
		background-color: var(--brand-color);
	}

	&--mode-light {
		color: var(--secondary-text-color);
	}

	&--mode-dark {
		color: var(--white-color);
	}
}
