/* LOGO */
.logo {
	color: var(--white-color);

	@media screen and (min-width: 768px) {
		color: var(--secondary-text-color);
	}

	&:hover,
	&:focus {
		color: var(--brand-color);
	}

	@media screen and (min-width: 768px) {
		margin-right: 64px;
	}

	@media screen and (min-width: 1280px) {
		margin-right: 71px;
	}
}

.logo__icon {
	fill: currentColor;
}
