/* NAVIGATION */

.navigation {
	@media screen and (max-width: 767.98px) {
		display: none;
	}

	@media screen and (min-width: 768px) {
		margin-right: 47px;
	}
}

.navigation__container {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.navigation__item:not(:last-child) {
	@media screen and (min-width: 768px) {
		margin-right: 24px;
	}

	@media screen and (min-width: 1280px) {
		margin-right: 40px;
	}
}

.navigation__link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: var(--white-color);
	padding-top: 40px;
	padding-bottom: 40px;
	display: block;

	&:hover,
	&:focus {
		color: var(--brand-color);
	}
}
