/* TEAM SECTION */
.team {
  background-color: var(--bg-color);
}

.team__title {
  margin-bottom: 44px;
}

.member__item {
  --items: 3;
  // переназначить количество карточек

  transform: scale(1);
  transition: transform 250ms ease-in;

  &:hover {
      transform: scale(1.1);
    }
}

.member__img {
  margin-bottom: 30px;
}

.member__title {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--secondary-text-color)
}

.member__position {
  margin-bottom: 30px;

  line-height: 1.36;
  text-align: center;
  color: var(--brand-color);
}