/* плавний скроллинг к секциям через якоря */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: var(--main-text-color);
	background-color: var(--white-color);

	font-family: var(--main-font), sans-serif;

	@include fonts(400, 14px, 26px, 0.02em);
	// font-size: 14px;
	// line-height: 1.86;
	// letter-spacing: 0.02em;

	&.modal-open {
		overflow: hidden;
	}
	// для JS -запретить скролл body, когда открыта модалка
}

.link {
	text-decoration: none;
	color: currentColor;
	transition: color 250ms ease-in;
}

.list {
	list-style-type: none;
}

.image {
	display: block;
	max-width: 100%;
	height: auto;
}
