:root {
  --brand-color: #FF6C00;
  --white-color: #FFFFFF;

  --main-text-color: #555555;
  --secondary-text-color: #303030;
  --third-color: #9DA4BD;
  --online-form-text: rgba(157, 164, 189, 0.4);

  --bg-color: #F7F7F7;
  --secondary-bg-color: rgba(157, 164, 189, 0.6);
  --hero-bg-color: rgba(25, 28, 38, 0.2);
  --price-list-bg-color: #111319;
  --contacts-bg-color: #191C26;

  --price-list-gradient-first: #171A24;
  --price-list-gradient-second: rgba(23, 26, 36, 0.2);
  --price-list-gradient-third: #090B13;
  --price-list-gradient-forth: rgba(9, 11, 19, 0.2);


  --main-font: 'Open Sans';
  --secondary-font: 'Raleway';

  // переменные grid items 
  --items: 1;
  --indent: 30px;  // отступ-margin 
}