/* ABOUT */
.about__container {
	@media screen and (min-width: 768px) {
		display: flex;
	}
}

.about__list {
	@media screen and (max-width: 767px) {
		display: none;
	}

	@media screen and (min-width: 768px) {
		display: block;
		margin-right: 30px;
	}

	@media screen and (min-width: 1280px) {
		display: flex;
		margin-right: 64px;
	}
}

.about__item {
	@media screen and (min-width: 768px) and (max-width: 1279.09px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 1280px) {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.about__group {
	@media screen and (min-width: 768px) {
		width: 330px;
	}

	@media screen and (min-width: 1280px) {
		width: 476px;
	}
}

.about__title {
	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		font-size: 30px;
	}
}

.about__subtitle {
	margin-bottom: 20px;
}

.about__description {
	margin-bottom: 40px;

	@media screen and (min-width: 1280px) {
		font-size: 16px;
	}
}
