/* HERO */
.hero {
	height: 580px;
	max-width: 480px;
	margin: auto;
	background-color: var(--hero-bg-color);

	background-image: url(../images/hero/slider-img-1-mobile-480.jpg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: url(../images/hero/slider-img-1-mobile@2x-960.jpg);
	}

	@media screen and (min-width: 768px) {
		height: 680px;
		max-width: 768px;
		background-size: contain;
		background-size: 609px 680px, contain;
		background-image: url(../images/hero/slider-img-1-tablet-609.jpg),
			linear-gradient(to right, var(--white-color) 22%, var(--hero-bg-color) 20%);
		background-position: right;
		background-repeat: no-repeat;

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url(../images/hero/slider-img-1-tablet@2x-1218.jpg);
		}
	}

	@media screen and (min-width: 1280px) {
		max-width: 1280px;
		// background-image: url(../images/hero/slider-overlay.png), url(../images/hero/slider-img-3.jpg),
		// 	url(../images/hero/slider-img-2.jpg), url(../images/hero/slider-img-3.jpg),
		// 	linear-gradient(to right, var(--white-color) 12%, var(--hero-bg-color) 12%);

		background-size: 1125px 680px, 1125px 680px, 1125px 680px, 1125px 680px, contain;
		background-image: url(../images/hero/slider-overlay.png), url(../images/hero/slider-img-1-desktop-1125.jpg),
			url(../images/hero/slider-img-2.jpg), url(../images/hero/slider-img-3.jpg),
			linear-gradient(to right, var(--white-color) 12%, var(--hero-bg-color) 12%);
		background-position: right;
		background-repeat: no-repeat;

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url(../images/hero/slider-img-1-desktop@2x-2250.jpg);
		}
	}
}

.hero__container {
	position: relative;

	@media screen and (max-width: 767.98px) {
		padding-top: 208px;
		padding-bottom: 183px;
		padding-left: 31px;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		padding-top: 270px;
		padding-bottom: 240px;
		padding-left: 80px;
		margin-right: auto;
	}
}

.hero__left-side {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: flex-end;
		width: 100px;
	}

	@media screen and (min-width: 1280px) {
		display: flex;
		align-items: flex-end;
		width: 100px;
	}
}

.hero__group {
	flex-grow: 1;
	display: block;
	animation: fade-left-to-right 2s ease;

	@media screen and (min-width: 1280px) {
		margin-bottom: 206px;
		// margin-top: 272px;

		margin-left: 100px;
	}
}

.hero__title {
	margin-bottom: 20px;
	font-family: var(--secondary-font), sans-serif;
	color: var(--white-color);
	font-weight: 700;

	font-size: 48px;
	line-height: 1.17;
	letter-spacing: 0.05em;

	@media screen and (min-width: 1280px) {
		font-size: 72px;
		line-height: 1.18;
	}
}
