/* TEAM SECTION */
.team {
	background-color: var(--bg-color);
}

.team__uppertitle {
	@media screen and (min-width: 768px) and (max-width: 1279.98px) {
		padding-left: 121px;
	}
}
.team__title {
	margin-bottom: 44px;

	@media screen and (min-width: 768px) and (max-width: 1279.98px) {
		padding-left: 121px;
	}
}

.member {
	@media screen and (max-width: 1279.98px) {
		display: block;
	}

	@media screen and (min-width: 1280px) {
		display: flex;
	}
}

.member__item {
	margin: 0 auto;

	transform: scale(1);
	transition: transform 250ms ease-in;

	&:hover {
		transform: scale(1.1);
	}

	@media screen and (max-width: 1279.98px) {
		&:not(:last-child) {
			margin-bottom: 64px;
		}
	}

	@media screen and (min-width: 768px) {
		width: 450px;
	}

	@media screen and (min-width: 1280px) {
		--items: 3;
		// переназначить количество карточек

		@media screen and (min-width: 1280px) {
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}
}

.member__img {
	// пока не изменены картинки
	width: 100%;
	margin-bottom: 30px;
}

.member__title {
	margin-bottom: 8px;

	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	color: var(--secondary-text-color);
}

.member__position {
	margin-bottom: 30px;

	line-height: 1.36;
	text-align: center;
	color: var(--brand-color);
}
